
@import "tailwindcss"; 

:root {
  --background: #ffffff; 
  --foreground:  #171717; 
}
body {
  color: rgb(var(--foreground));
  background: var(--background); 
  font-family: var(--font-heading), sans-serif;

}
